name: Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  applicationfolder: spring-boot-hello-world-example
  AWS_REGION: us-east-1
  S3BUCKET: SEU-BUCKET-AQUI

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: |
        cd ${{ env.applicationfolder }}
        mvn clean package -DskipTests

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.IAMROLE_GITHUB }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Upload to S3
      run: |
        aws s3 cp ${{ env.applicationfolder }}/target/SpringBootHelloWorldExampleApplication.war \
          s3://${{ env.S3BUCKET }}/SpringBootHelloWorldExampleApplication.war

    - name: Trigger CodeDeploy
      run: |
        aws deploy create-deployment \
          --application-name CodeDeployAppNameWithASG \
          --deployment-group-name CodeDeployGroupName \
          --deployment-config-name CodeDeployDefault.OneAtATime \
          --s3-location s3://${{ env.S3BUCKET }}/SpringBootHelloWorldExampleApplication.war \
          --region ${{ env.AWS_REGION }}
